@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  background-color: #756257;
}

.button button {
  width: 133px;
  height: 37px;
}

.more-hotel-list-button {
  background-color: #756257;
}

.name-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.hotel-list-button {
  margin-left: 54px;
}

.hotel-list-button-green {
  margin-left: 54px;
  background-color: #7db54f;
}

.rating-star {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding-left: 17px;
}

.navigation-user {
  max-width: 1060px;
  margin: auto;
}

.main-index p {
  text-transform: none;
}

.logo {
  display: block;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/indexbackground.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}

.description-text {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 1200px;
  padding: 50px 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-main {
  counter-reset: advantages-counter;
}

.advantages-list-nested {
  --counter-content: initial;

  grid-column: 1 / -1;
}

.advantages-text {
  background-color: #83b3d3;
  color: #ffffff;
  padding: 76px 80px 71px;
}

.advantages-illustration {
  grid-column-end: span 2;
  order: var(--illustration-order, initial);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
}


.advantages-title::before {
  content: var(--advantage-icon, initial);
  display: block;
  width: 84px;
  height: 84px;
  margin: 0 auto;
}

.icon-house {
  --advantage-icon: url("../images/icons/house.svg");
}

.icon-food {
  --advantage-icon: url("../images/icons/food.svg");
}

.icon-souvenir {
  --advantage-icon: url("../images/icons/souvenir.svg");
}

.advantages-item {
  color: #000000;
  text-align: center;
  padding: 76px 80px 71px;
}


.advantages-list-main > .advantages-item {
  --counter-content: "— №" counter(advantages-counter) " —";

  counter-increment: advantages-counter;
}

.advantages-item-illustrated {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.advantages-description::before {
  content: var(--counter-content);
  display: block;
  margin: 30px auto;
}

.advantages-item-illustrated:nth-child(2n+2) {
  --illustration-order: -1;
}

.advantages-title-icon {
  margin-bottom: calc(1em - 5px);
}

.advantages-title-icon::before {
  content: var(--advantage-icon, initial);
  display: block;
  width: 84px;
  height: 84px;
  margin: 0 auto;
  transform: translateY(-20px);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.interest-block {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.interest-block p {
  text-transform: none;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.interest-block a {
  color: #ffffff;
  background-color: #756257;
}


.page-footer-contacts {
  background-image: url("../images/background.png");
  width: 1200px;
  height: 411px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}

.page-footer a {
  width: 115px;
  height: 34px;
  align-self: flex-end;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 107px;
  height: 18px;
  list-style-type: none;
  flex-wrap: wrap;
}


.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalogbackground.png");
  width: 1200px;
  height: 408px;
  background-repeat: no-repeat;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.filter-catalog {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  color: #ffffff;
}

.catalog-filter-item {
  color: #ffffff;
}

.catalog-choose {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1057px;
  justify-content: space-between;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
  padding-left: 72px;
  padding-right: 72px;
}

.hotel-item {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  list-style-type: none;
}

.paginaition-control {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  background-color: #ffffff;
  list-style-type: none;
  justify-content: space-between;
}


.pagination-link {
  display: flex;
  color: #ffffff;
  background: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}

