@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding-left: 17px;
}

.navigation-user {
  max-width: 1060px;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/indexbackground.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}

.intro {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item {
  text-align: center;
  padding: 47px 4% 24px;
  color: #000000;
  text-transform: uppercase;
  list-style-type: none;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.advantages-list {
  display: flex;
  color: #000000;
  justify-content: space-between;
  width: 1200px;
  height: 384px;
  margin: 0;
  list-style-type: none;
  flex-direction: row;
  text-align: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin: 0;
  width: 1200px;
  height: 384px;
  list-style-type: none;
  flex-direction: row;
  text-align: center;
}

.feature {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin: 0;
  background: #83b3d3;
  text-align: center;
  width: 1200px;
}

.feature-description {
  text-align: center;
  padding: 47px 4% 24px;
  color: #ffffff;
}

.feature-text {
  margin-top: 22px;
}

.feature2 {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  flex-direction: row;
  background: #83b3d3;
  text-align: center;
  width: 1200px;
  height: 384px;
}

.advantages-title {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}


.page-footer-contacts {
  background-image: url("../images/background.png");
  width: 1200px;
  height: 411px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}

.page-footer a {
  width: 115px;
  height: 34px;
  align-self: flex-end;
}

.footer-social-list {
  width: 107px;
  height: 18px;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.inner-header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalogbackground.png");
  width: 1200px;
  height: 408px;
  background-repeat: no-repeat;
}

.catalog-choose {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1057px;
  justify-content: space-between;
}

.button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  background-color: #756257;
}

.pagination {
  display: flex;
  background-color: #ffffff;
  list-style-type: none;
  justify-content: space-between;
}

.paginaition-control {
  display: flex;
  justify-content: space-between;
}

.pagination-link {
  color: #ffffff;
  background: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}

.filter-catalog {
  display: flex;
  flex-direction: row;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-item {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotel__rating-star {
  background: #83b3d3;
  background-image: url("../images/icons/star.svg");
  width: 18px;
  height: 17px;
}

.interest-block {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.interest-block p {
  text-transform: none;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.interest-block a {
  color: #ffffff;
  background-color: #756257;
}

.main-index p {
  text-transform: none;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 60px;
}

