@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button + .button {
  margin-left: 16px;
}


.navigation-button {
  background-color: #756257;
  padding: 9px 15px;
  border-radius: 4px;
}

.button button {
  width: 133px;
  height: 37px;
}

.more-hotel-list-button {
  background-color: #756257;
  border-radius: 4px;
}

.name-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.hotel-list-button {
  margin-left: 54px;
  border-radius: 4px;
}

.hotel-list-button-green {
  margin-left: 54px;
  background-color: #7db54f;
  border-radius: 4px;
}

.rating-star {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding-left: 17px;
}

.navigation-link:hover {
  background-color: #595959;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images//icons//seach.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images//icons//heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user {
  max-width: 1060px;
  margin: auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #242424;
}


.navigation-link:hover .navigation-icon {
  fill: #242424;
}

.navigation-link:focus .navigation-icon {
  fill: #242424;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

.main-index p {
  text-transform: none;
}

.logo {
  display: block;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/indexbackground.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}

.description-text {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 1200px;
  padding: 50px 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list-main {
  counter-reset: advantages-counter;
}

.advantages-list-nested {
  --counter-content: initial;

  grid-column: 1 / -1;
}

.advantages-text {
  background-color: #83b3d3;
  color: #ffffff;
  padding: 76px 80px 71px;
}

.advantages-illustration {
  grid-column-end: span 2;
  order: var(--illustration-order, initial);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
}


.advantages-title::before {
  content: var(--advantage-icon, initial);
  display: block;
  width: 84px;
  height: 84px;
  margin: 0 auto;
}

.icon-house {
  --advantage-icon: url("../images/icons/house.svg");
}

.icon-food {
  --advantage-icon: url("../images/icons/food.svg");
}

.icon-souvenir {
  --advantage-icon: url("../images/icons/souvenir.svg");
}

.advantages-item {
  color: #000000;
  text-align: center;
  padding: 76px 80px 71px;
}


.advantages-list-main > .advantages-item {
  --counter-content: "— №" counter(advantages-counter) " —";

  counter-increment: advantages-counter;
}

.advantages-item-illustrated {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.advantages-description::before {
  content: var(--counter-content);
  display: block;
  margin: 30px auto;
}

.advantages-item-illustrated:nth-child(2n+2) {
  --illustration-order: -1;
}

.advantages-title-icon {
  margin-bottom: calc(1em - 5px);
}

.advantages-title-icon::before {
  content: var(--advantage-icon, initial);
  display: block;
  width: 84px;
  height: 84px;
  margin: 0 auto;
  transform: translateY(-20px);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.interest-block {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.interest-block p {
  text-transform: none;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.interest-block a {
  color: #ffffff;
  background-color: #756257;
}

.button-interest-block {
  width: 575px;
  height: 60px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-footer-contacts {
  background-image: url("../images/background.png");
  width: 1200px;
  height: 411px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}

.page-footer a {
  width: 115px;
  height: 34px;
  align-self: flex-end;
}

.footer-contacts {
  display: flex;
}

.aappointment-email {
  display: flex;
  margin: 0;
  padding: 0;
}

.appointment-form-buttom {
  height: 60px;
  width: 200px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  height: 44px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-tw {
  background-image: url("../images/icons/twitter.svg");
}

.footer-social-fa {
  background-image: url("../images/icons/facebook.svg");
}

.footer-social-yo {
  background-image: url("../images/icons/youtube.svg");
}

.sort-lists {
  display: flex;
  list-style-type: none;
}

.sort-link-social-tit {
  background-image: url("../images//icons/title.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.sort-link-social-show {
  background-image: url("../images//icons/show.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.sort-link-social-li {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.footer-social-ht {
  width: 115px;
  height: 34px;
  background-image: url("../images/icons/htmlacademy.svg");
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/catalogbackground.png");
  width: 1200px;
  height: 408px;
  background-repeat: no-repeat;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.filter-catalog {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  color: #ffffff;
}

.catalog-filter-item {
  color: #ffffff;
}

.catalog-filter-button {
  flex-wrap: wrap;
}

.catalog-choose {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1057px;
  justify-content: space-between;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
  padding-left: 72px;
  padding-right: 72px;
}

.hotel-item {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  list-style-type: none;
}


.paginaition-control {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.pagination-item {
  background-color: rgba(0, 0, 0, 0.1);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  background: #83b3d3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}

.pagination-show-more {
  background: #83b3d3;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  margin-left: 290px;
}

